<mat-toolbar>
    <h2>Aliases</h2>
</mat-toolbar>

<div class="nav-content">
    <mat-spinner *ngIf="!isLoaded" [mode]="'indeterminate'"></mat-spinner>

    <p *ngIf="isLoaded && dataSource.data.length <= 0">No aliases found.</p>

    <div [hidden]="!(isLoaded && dataSource.data.length > 0)">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z5" matSort>
            <ng-container matColumnDef="owner">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Owner</mat-header-cell>
                <mat-cell *matCellDef="let alias">{{ alias.owner }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sourceUsername">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Source Username</mat-header-cell>
                <mat-cell *matCellDef="let alias">{{ alias.sourceUsername }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sourceDomain">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Source Domain</mat-header-cell>
                <mat-cell *matCellDef="let alias">{{ alias.sourceDomain }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="destinationUsername">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Dest. Username</mat-header-cell>
                <mat-cell *matCellDef="let alias">{{ alias.destinationUsername }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="destinationDomain">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Dest. Domain</mat-header-cell>
                <mat-cell *matCellDef="let alias">{{ alias.destinationDomain }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="enabled">
                <mat-header-cell *matHeaderCellDef class="center">Enabled</mat-header-cell>
                <mat-cell *matCellDef="let alias" class="center">
                    <mat-checkbox [checked]="alias.enabled" (change)="setEnabled(alias.uuid, $event.checked)"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="accepted">
                <mat-header-cell *matHeaderCellDef class="center">Accepted</mat-header-cell>
                <mat-cell *matCellDef="let alias" class="center">
                    <mat-checkbox [checked]="alias.accepted" (change)="setAccepted(alias.uuid, $event.checked)"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </div>

    <ng-container *ngIf="domainsLoaded">
        <form [formGroup]="newAliasForm" (submit)="submitNewAlias()" class="new-form">
            <table>
                <tr>
                    <td>
                        <mat-form-field>
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input type="text" matInput formControlName="sourceUsername" placeholder="From username">
                            <mat-error *ngIf="newAliasForm.get('sourceUsername').hasError('required')">
                                From username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-icon>alternate_email</mat-icon>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>From domain</mat-label>
                            <mat-select formControlName="sourceDomain">
                                <mat-option *ngFor="let domain of domains" [value]="domain.domain">{{ domain.domain }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="newAliasForm.get('sourceDomain').hasError('required')">
                                From domain is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-icon>arrow_forward</mat-icon>
                    </td>
                    <td>
                        <mat-form-field>
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input type="text" matInput formControlName="destUsername" placeholder="To username">
                            <mat-error *ngIf="newAliasForm.get('destUsername').hasError('required')">
                                To username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-icon>alternate_email</mat-icon>
                    </td>
                    <td>
                        <mat-form-field>
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input type="text" matInput formControlName="destDomain" placeholder="To domain">
                            <mat-error *ngIf="newAliasForm.get('destDomain').hasError('required')">
                                To domain is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <button mat-button [disabled]="!newAliasForm.valid" color="primary" type="submit">Add</button>
                    </td>
                </tr>
            </table>
        </form>
    </ng-container>
</div>
