<mat-toolbar>
    <h2>Accounts</h2>
    <span class="menu-spacer"></span>
    <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>
</mat-toolbar>

<div class="nav-content">
    <mat-spinner *ngIf="!isLoaded || !formDataLoaded" [mode]="'indeterminate'"></mat-spinner>

    <ng-container *ngIf="formDataLoaded">
        <form [formGroup]="newAccountForm" (submit)="submitNewAccount()">
            <table>
                <tr>
                    <td>
                        <mat-form-field *ngIf="user.admin; else useCurrentUsername">
                            <mat-label>Username</mat-label>
                            <mat-select formControlName="username">
                                <mat-option *ngFor="let user of users" [value]="user.uid">{{ user.uid }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="newAccountForm.get('username').hasError('required')">
                                Username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <ng-template #useCurrentUsername>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <!--suppress HtmlFormInputWithoutLabel -->
                                <input type="text" matInput formControlName="username" readonly>
                            </mat-form-field>
                        </ng-template>
                    </td>
                    <td>
                        <mat-icon>alternate_email</mat-icon>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>Domain</mat-label>
                            <mat-select formControlName="domain">
                                <mat-option *ngFor="let domain of domains" [value]="domain.domain">{{ domain.domain }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="newAccountForm.get('domain').hasError('required')">
                                Domain is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td class="new-account-field-spacing">
                        <mat-form-field>
                            <mat-label>Quota</mat-label>
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input type="number" matInput formControlName="quota" placeholder="1024" min="0">
                            <span matSuffix>MB</span>
                            <mat-error *ngIf="newAccountForm.get('quota').hasError('min')">
                                Quota must <strong>not be negative</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td class="new-account-field-spacing">
                        <mat-slide-toggle formControlName="sendonly">Send only</mat-slide-toggle>
                    </td>
                    <td>
                        <button mat-button [disabled]="!newAccountForm.valid" color="primary" type="submit">
                            <span *ngIf="user && user.admin; else requestAlias">Add</span>
                            <ng-template #requestAlias>
                                <span>Request</span>
                            </ng-template>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </ng-container>

    <p *ngIf="isLoaded && dataSource.data.length <= 0">No accounts found.</p>

    <div [hidden]="!(isLoaded && dataSource.data.length > 0)">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z5" matSort>
            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                <mat-cell *matCellDef="let account">{{ account.username }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="domain">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Domain</mat-header-cell>
                <mat-cell *matCellDef="let account">{{ account.domain }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="quota">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Quota</mat-header-cell>
                <mat-cell *matCellDef="let account">{{ account.quota }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sendonly">
                <mat-header-cell *matHeaderCellDef class="center">Send Only</mat-header-cell>
                <mat-cell *matCellDef="let account" class="center">
                    <mat-checkbox *ngIf="user" [checked]="account.sendonly" (change)="setSendonly(account.uuid, $event.checked)"
                                  [disabled]="account.username != user.username && !user.admin"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="enabled">
                <mat-header-cell *matHeaderCellDef class="center">Enabled</mat-header-cell>
                <mat-cell *matCellDef="let account" class="center">
                    <mat-checkbox *ngIf="user" [checked]="account.enabled" (change)="setEnabled(account.uuid, $event.checked)"
                                  [disabled]="account.username != user.username && !user.admin"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="accepted">
                <mat-header-cell *matHeaderCellDef class="center">Accepted</mat-header-cell>
                <mat-cell *matCellDef="let account" class="center">
                    <mat-checkbox *ngIf="user" [checked]="account.accepted" (change)="setAccepted(account.uuid, $event.checked)" [disabled]="!user.admin"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef class="center">Actions</mat-header-cell>
                <mat-cell *matCellDef="let account" class="center">
                    <button mat-icon-button *ngIf="user" (click)="delete(account.uuid)" [disabled]="account.username != user.username && !user.admin" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </div>
</div>
