<mat-toolbar>
    <h2>Domains</h2>
</mat-toolbar>

<div class="nav-content">
    <mat-spinner *ngIf="!isLoaded" [mode]="'indeterminate'"></mat-spinner>

    <form [formGroup]="newDomainForm" (submit)="submitNewDomain()">
        <table>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Register new domain</mat-label>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input type="text" matInput formControlName="domainName" placeholder="Domain">
                        <mat-error *ngIf="newDomainForm.get('domainName').hasError('required')">
                            Domain name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-button [disabled]="!newDomainForm.valid" color="primary" type="submit">Register</button>
                </td>
            </tr>
        </table>
    </form>

    <p *ngIf="isLoaded && dataSource.data.length <= 0">No domains found.</p>

    <div [hidden]="!(isLoaded && dataSource.data.length > 0)">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z5">
            <ng-container matColumnDef="domain">
                <mat-header-cell *matHeaderCellDef>Domain</mat-header-cell>
                <mat-cell *matCellDef="let domain">{{ domain.domain }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef class="center">Actions</mat-header-cell>
                <mat-cell *matCellDef="let domain" class="center">
                    <button mat-icon-button (click)="delete(domain.domain)" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </div>
</div>
