.menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

h1.menu-app-name {
    margin-left: 8px;
}

.menu-spacer {
    flex: 1 1 auto;
}

.menu-sidenav-container {
    flex: 1;
    height: 100%;
}
