@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-content {
    padding: 0 1.5em 1.5em 1.5em;
}

.new-form {
    margin-top: 1em;
}

.center {
    justify-content: center;
}
